* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover;
    direction: rtl;
    font-family: "cairo";
}

/* animations */
 
@keyframes opacityAnimation {
0%{
    opacity: 1;
}
50%{
    opacity: 0.5;
}
100%{
    opacity:1;
}
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
} 

/*loading animation styles*/
.animation{
    position:fixed;
    background-color: white;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content:center;
    align-items: center;
}
#animate__logo{
    animation: opacityAnimation  1000ms ease infinite;
    margin-left: 20px;
}

@font-face {
    src: url(../fonts/Cairo-Regular.ttf);
    font-family: "cairo";
}
/* loading */
.loading {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*container grid*/
.page__holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 90px 60vh  640px repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contactus__container {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #be5f00;
    color: white;
}

.navbar__container {
    grid-area: 2 / 1 / 3 / 2;
    color: white;
    background-color: #2bac54;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.slider__container {
    grid-area: 3 / 1 / 4 / 2;
    overflow: hidden;

}

.shop__by__gategory__container {
    grid-area: 4 / 1 / 5 / 2;
   
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.div6 {
    grid-area: 6 / 1 / 7 / 2;
}

.div7 {
    grid-area: 7 / 1 / 8 / 2;
}

.div8 {
    grid-area: 8 / 1 / 9 / 2;
}

.div9 {
    grid-area: 9 / 1 / 10 / 2;
}


/*xs-phones*/
/* contactus styles */
.contactus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto 25px;
    font-size: 0.9rem;
}

#language__filter {
    margin-left: 20px;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
}

#o__styles {
    color: black;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 1;
}

#logo {
    width: 70px;
    margin-right: 25px;
    z-index: 1;
}

.mobile__toggle {
    margin-left: 25px;
    cursor: pointer;
}

.navitem__container {
    list-style-type: none;
    position: absolute;
    padding:0 25px;
    width: 100%;
    margin: auto;
    transition: all 350ms ease;
    opacity: 0;
    z-index: -1;
    display: none;
}

.navitem__container li {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    margin: 26px auto;
}
.navitem__container.active {
    position: absolute;
    background-color: #2bac54;
    transition: all 350ms ease;
    z-index: 0;
    opacity: 1;
    display: block;
    top:100%;
}
.pi{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.submenu{
   
    display: none;
    list-style: none;
    padding-right: 20px;
}
.activel{
    display: block;
}
.item__toggle{
    position:relative;
}
.item__toggle .bar:nth-child(1){
    transform:rotate(90deg) ;
}
.item__toggle .bar:nth-child(2){
    transform: translateY(-8px);
}
.bar {
    width: 25px;
    background-color: white;
    height: 3px;
    margin: 5px auto;
    transition: all 350ms ease;
}

.isactive .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.isactive .bar:nth-child(2) {
    opacity: 0;
}

.isactive .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.shopping__cart {
    background-color: #2bac54;
    border-radius: 50px;
    border: 2px solid white;
    padding: 12px;
    margin-right: 60px;
    z-index: 1;
    cursor: pointer;
}
.shopping__cart::after{
    background-color:#be5f00;
    width: 30px;
    height: 30px;
    content: "0";
    position: absolute;;
    border-radius: 60px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.8);
    top:15px;
}    
/*slider*/

.slider {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    margin: 0 25px;
}

#slider__img {
    display: none;
}

.slider__text {
    font-size: 1.1rem;
}
.slider__text h1{
    animation: 1000ms ease-out slideInFromLeft;
}
.slider__text h2 {
    font-weight: normal;
    animation: 1000ms ease-out slideInFromLeft;

}

.calltoaction {
    background: none;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: #2bac54;
    color: white;
    margin-top: 30px;
    font-size: 1rem;
    animation: 1000ms ease-out slideInFromLeft;
}
/* catrgories section */
.shop__by__gategory{
    margin: auto 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
#cat__title{
    font-size: 1.8rem;
    margin-bottom:50px;
}
.cat__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
}

.cat__item{
    width:100%;
    border-radius:7px;
    height:100%;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    font-size:1.1rem;
}
.cat__item h4{
    margin-right:20px;
}
.cat__item h5{
    margin-right:20px;
    font-weight: normal;
}
#catone span{
    margin-right:30px;
    font-style: italic;
    font-family:sans-serif;
    color: #be5f00;
    font-weight: bold;
    text-shadow: 2px -1px 1px white;
    position: relative;
    top:2px;

}
#catone{
    background: url(../imgs/cat1.png);
    background-size: cover;
    margin:15px auto;
}
#cattwo{
    background: url(../imgs/cat2.png);
    background-size: cover;
    margin-bottom: 15px;
}
#cattwo h4,
#catthree h4{
    margin-top:15px;
    margin-right:15px;
}
#catthree h4 {
    margin-right:20px;
}
#cattwo h5,
#catthree h5{
    background-color:#89CFF0;
    padding: 2px 10px;
    border-radius:20px;
    margin-right:10px;
    font-weight:500;
}
#catthree h5{
    padding: 2px 15px;
}
#cattwo span,
#catthree span{
    margin-right:30px;
    color:#137432 ;
    position: relative;
    bottom:8px;
    text-shadow: 2px -1px 1px white;
    font-weight: bold;
    font-size:0.9rem;
    font-family: sans-serif;
    font-style: italic;
}
#catthree span{
    color:#be5f00;
    margin-right:65px;
    bottom:7;
}
#catthree{
    background: url(../imgs/cat3.png);
    background-size: cover;
    margin-bottom: 15px;
}

/* s-phones styles */
@media screen and (min-width:360px) {
    /*container grid*/
.page__holder {
    
    grid-template-rows: 50px 90px 60vh  700px repeat(5, 1fr);
  
}
    .navitem__container {
        top: 19%;
    }
    /*category section*/
    #cat__title {
        font-size: 1.9rem;
    }
    .cat__item
    {
        font-size: 1.2rem;
    }
    #cattwo span,
    #catthree span{
        font-size: 1.05rem;
        margin-right: 40px;
    }
    #catthree span{
        margin-right: 80px;
    }
    .shopping__cart {
        margin-right: 90px;
    }
}

/* m-phones styles */
@media screen and (min-width:375px) {
    .navitem__container {
        top: 15%;
    }

    .shopping__cart {
        margin-right: 100px;
    }
}

/* l-phones styles */
@media screen and (min-width:414px) {
    .shopping__cart {
        margin-right: 150px;
    }
    .page__holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 90px 60vh  700px repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

/* tablet styles */
@media screen and (min-width:768px) {
    .page__holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 90px 60vh  1240px repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .navitem__container {
        top: 11%;
    }

    .shopping__cart {
        margin-right: 490px;
    }

    /*slider*/
    .slider__container {
        background: url(../imgs/slider.jpg);
        background-size: cover;
    }

    .slider {
        margin: 0 35px;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 100%;
        float: left;
    }

    .slider h1 {
        margin-bottom: 45px;
    }

    .calltoaction {
        margin: 0;
        margin-bottom: 30px;
    }

    .slider__text h2 {
        font-weight: normal;
    }
    /* shop by category */ 
    .cat__item{
        font-size:2rem;
        padding-right:50px;
    }
    #cat__title {
        font-size:2.3rem;
        margin-top: 50px; 
    }
    .cat__item span,
    #cattwo span,
    #catthree span{
        font-size:1.8rem;
    }
    #catone{
        background: url(../imgs/cat1.png);
        background-size: cover;
        margin:25px auto;
    }
    #cattwo{
        background: url(../imgs/cat2.png);
        background-size: cover;
        margin-bottom: 25px;
    }
    #catone span{
        margin-right:40px;
    }
    #cattwo span{
        margin-right:50px;
        bottom:15px;
    }
    #catthree span{
        margin-right:90px;
        bottom:10px;
    }
}

/* Desktop styles */
@media screen and (min-width:1024px) {

    /*container grid*/
    .page__holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 45px 90px 700px  400px repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    /*loading animation styles*/
#animate__logo{
    animation: opacityAnimation  1000ms ease infinite;
    margin-left: 0px;
}

    /* contactus styles */
    .contactus {
        font-size: 1rem;
        margin: auto 35px;
    }

    #language__filter {
        font-size: 1rem;
    }

    /*navbar*/
    .mobile__toggle {
        display: none;
    }

    #logo {
        width: 70px;
        margin-right: 35px;
        z-index: 1;
    }

    .navitem__container {
        list-style-type: none;
        position: static;
        text-align: center;
        width: auto;
        margin: 0;
        transition: all 350ms ease;
        opacity: 1;
        z-index: 1;
        top: unset;
        display: block;
       display: flex;
        text-align: center;
        justify-content: center;
       
    }

    .navitem__container li {
        font-size: 1.1rem;
        width: auto;
        height: 100%;
        margin-left: 20px;
        cursor: pointer;
    }

    li:nth-child(1) {
        margin: auto 20px;
    }

    .shopping__cart {
        margin-right: 0;
        margin-left: 35px;
    }
    .submenu{
        position: absolute;
        background-color:#2bac54;
        list-style: none;
        padding: 0;
        top:100%;
        left:50%;
        width: 170px;
        text-align:right;
        padding:10px;
        border-top: white 6px solid;
        transition: all 350ms ease;
        pointer-events: none;
        display:none;
    }
    #products:hover>.submenu{
        transition: all 350ms ease;
        display: block;
    }
    .submenu li{
        height: auto;
        margin:10px;
    }
    .item__toggle{
        display: none;
    }
    /*category section*/
    .cat__container{
        flex-direction: row;
        font-size: 1rem;
    }
    .cat__item{
        font-size: 1.3rem;
        height: 190px;
        padding-right:5px;
    }
    .cat__item span,
    #cattwo span,
    #catthree span{
        font-size: 1.05rem;
    }
    #catone {
        margin: 0 0 0 25px;
    }
    #cattwo {
        margin-bottom: 0;
        margin-left:25px;
    }
    #catthree {
        margin-bottom: 0;
    }
    .shop__by__gategory {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    #cat__title{
        margin-top:50px;
        margin-bottom:0;
        font-size: 2rem;
    }
    #catthree span {
        margin-right: 89px;
        bottom: 12px;
    }
    #cattwo span {
        margin-right: 53px;
        bottom: 13px;
    }
}

/* l-Desktop styles */
@media screen and (min-width:1348px) {
    .slider h1 {
        margin-bottom: 0px;
    }

    .calltoaction {
        margin: 0;
        margin-bottom: 0px;
        position: relative;
        top: 70px;
    }
    .cat__item{
        font-size: 1.45rem;
        height: 250px;
        padding-right:20px;
    }
    .cat__item span,
    #cattwo span,
    #catthree span{
        font-size:1.3rem;
    }
   #cat__title {
        margin-top: 35px;
    }
}